.list__container {
    padding: 30px 0 0 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}

.list__item {
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 5px var(--theme-color);
    border-radius: var(--border-radius-medium);
    transition:
            scale var(--transition),
            border-radius var(--transition),
            color var(--transition),
            box-shadow var(--transition);
    color: var(--theme-color);
    background-color: var(--theme-background-color);
}

.list__item a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 100%;
}

.list__item a img {
    pointer-events: none;
}

.list__item a p {
    display: block;
    width: 100%;
}

.person__photo {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: border-radius var(--transition);
}

.list__item:hover {
    scale: 1.1;
    border-radius: var(--border-radius-large);
    box-shadow: 0 0 10px var(--theme-accent);
    color: var(--theme-accent);
}

.list__item:hover .person__photo {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}