.wrapper {
    margin-left: var(--spacing-large);
    padding: var(--spacing-medium) 0;

}

.list__container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item a {
    display: flex;
    align-items: center;

    padding: 7px 10px;
    background-color: transparent;

    font-family: var(--font-family-star-wars);
    font-size: 18px;
    text-decoration: none;
    color: var(--theme-color);

    transition: .2s;

    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
}

.list__item a:hover {
    border: 2px solid var(--theme-accent);
    color: var(--theme-accent);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        margin-left: 0;
        width: 100%;
    }

    .list__item a {
        padding-left: 0;
    }
}