.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
}

.list__container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.list__container li:last-child {
    margin-left: auto;
}
.list__container li:last-child a:hover {
    border: 2px solid transparent;
}

.list__container li a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    text-align: center;

    font-family: var(--font-family-main);
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--theme-color);

    transition: var(--transition);

    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
}

.list__container li a:hover {
    border: 2px solid var(--theme-color);
}

.list__container :global(a.active), .list__container :global(a.active):hover {
    border: 2px solid var(--theme-accent);
    color: var(--theme-accent);
}
