.link {
    margin: var(--spacing-small);
    color: var(--theme-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNumber {
    font-size: var(--font-size-main);
    font-family: var(--font-family-main);
    color: var(--theme-color);
}